.example-spacer {
  width: 50px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 256px;
}

.actions button {
  margin-right: 0.6em;
  margin-bottom: 0.6em;
}

.input-full-width {
  width: 100%;
}

.card {
  margin-bottom: 1em;
}

.long {
  word-wrap: break-word;
}

 .blockcore-logo {
        margin: 0 4px 3px 0;
        height: 48px;
        vertical-align: middle;
    }
    .fill-remaining-space {
      flex: 1 1 auto;
    }

