<p>
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>Blockcore DApp Sample</span>
    <span class="example-spacer"></span>

    <!-- <button mat-flat-button (click)="connect()">connect</button>&nbsp;
    <button mat-flat-button (click)="getAccounts()">get_accounts</button> -->
  </mat-toolbar>
</p>

<div class="page">
  <mat-card>
    <div class="logo">
      <img src="/assets/icon-256x256.png" />
    </div>

    <div *ngIf="provider">CURRENT NETWORK: {{ provider.indexer.network }}</div>
  </mat-card>

  <div class="actions">
    <br />

    <p>
      <button mat-flat-button (click)="initialize()">initialize provider</button>
      <mat-form-field *ngIf="provider" appearance="outline">
        <mat-label>Network</mat-label>
        <mat-select (selectionChange)="onNetworkChanged()" [(ngModel)]="network">
          <mat-option *ngFor="let network of networks" [value]="network.id">
            {{ network.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </div>

  <div class="actions" *ngIf="provider">
    <br />

    <p>
      <button mat-flat-button (click)="connect()" disabled="disabled">connect</button>
      <button mat-flat-button (click)="getAccounts()" disabled="disabled">get_accounts</button>
    </p>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Signing (text)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="input-full-width" appearance="outline">
          <mat-label>Basic text</mat-label>
          <input matInput type="text" [(ngModel)]="signingText" />
        </mat-form-field>
        <div *ngIf="signedTextSignature">
          <p>Signature:<br />{{ signedTextSignature }}</p>
          <p>Key/Address:<br />{{ signedTextKey }}</p>
          <p>Network:<br />{{ signedTextNetwork }}<br /></p>
          <p>Is Signature Valid:<br />{{ signedTextValidSignature }}<br /></p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="signMessageAnyAccount(signingText)">Request Signing</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Signing (JSON)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="input-full-width" appearance="outline">
          <mat-label>JSON structure</mat-label>
          <textarea matInput rows="6" [(ngModel)]="signingJson"></textarea>
        </mat-form-field>
        <div *ngIf="signedJsonSignature">
          <p>Signature:<br />{{ signedJsonSignature }}</p>
          <p>Key/Address:<br />{{ signedJsonKey }}</p>
          <p>Network:<br />{{ signedJsonNetwork }}<br /></p>
          <p>Is Signature Valid:<br />{{ signedJsonValidSignature }}<br /></p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="signMessageAnyAccountJson(signingJson)">Request Signing</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Payment Request</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="input-full-width" appearance="outline">
          <mat-label>Amount</mat-label>
          <input matInput type="text" [(ngModel)]="paymentRequestAmount" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="paymentRequest(network, paymentRequestAmount)">Payment Request</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>DID Supported Methods</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="didSupportedMethodsResponse">
          DID Methods: {{didSupportedMethodsResponse}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="didSupportedMethods()">Supported DID Methods</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>DID Request</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p *ngIf="didRequestResponse">
          DID: {{didRequestResponse.did}}<br>
          Proof: {{didRequestResponse.proof}}<br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="didRequest([])">Select DID Request</button> <button mat-flat-button color="primary" (click)="didRequest(['did:jwk'])">Select DID Request (filter: did:jwk)</button>
      </mat-card-actions>
    </mat-card>

    <router-outlet></router-outlet>
  </div>
  <br>
</div>
