<p>
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>Blockcore DApp Sample</span>
    <span class="example-spacer"></span>

    <button mat-flat-button>connect</button>&nbsp;
    <button mat-flat-button>get_accounts</button>
  </mat-toolbar>
</p>

<div class="page">
  <mat-card>
    <div class="logo">
      <img src="/assets/icon-256x256.png" />
    </div>
  </mat-card>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>
